Repository dh1011/mytasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, type-check-web, type-check-mobile, type-check-core, security-audit, docker-web-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: npx eslint . --max-warnings 0
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: test
        name: Test
        entry: npm run test:unit
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: type-check-web
        name: Type Check (Web)
        entry: bash -c 'cd web && npx tsc --noEmit'
        language: system
        files: ^web/.*\.(ts|tsx)$
        exclude: \.(test|spec)\.(ts|tsx)$
        pass_filenames: false

      - id: type-check-mobile
        name: Type Check (Mobile)
        entry: bash -c 'cd mobile && npx tsc --noEmit'
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        exclude: (__tests__|\.test\.|\.spec\.)
        pass_filenames: false

      - id: type-check-core
        name: Type Check (Core)
        entry: bash -c 'cd packages/core && npx tsc --noEmit'
        language: system
        files: ^packages/core/.*\.(ts|tsx)$
        exclude: (__tests__|\.test\.|\.spec\.)
        pass_filenames: false

      - id: security-audit
        name: Security Audit
        entry: npm audit --audit-level=high
        language: system
        files: package-lock\.json$
        pass_filenames: false

      - id: docker-web-test
        name: Docker Web Build & Test
        entry: bash -c 'cd web && bash test-docker.sh'
        language: system
        files: ^web/
        pass_filenames: false

fix(ci): use web/tsconfig.app.json for type checks
  .github/workflows/ci.yml
Due: none

feat: change reminder badge color when task is overdue
  mobile/components/TaskItem.tsx
  mobile/styles/theme.ts
  web/src/components/TaskItem.tsx
Due: lint, test, type-check-web, type-check-mobile, docker-web-test

feat: add server-side pagination with infinite scroll
  packages/core/src/services/apiService.ts
  web/src/App.tsx
  web/src/hooks/useTasks.ts
Due: lint, test, type-check-web, type-check-core, docker-web-test

feat: add task animations and animated logo
  package-lock.json
  package.json
  web/package.json
  web/src/App.tsx
  web/src/components/AddTaskForm.tsx
  web/src/components/AnimatedTask.tsx
  web/src/components/LogoIcon.tsx
  web/src/components/TaskItem.tsx
  web/src/index.css
Due: lint, test, type-check-web, security-audit, docker-web-test

feat(web): group reminders by date in Reminders tab
  package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/lib/groupTasksByDate.ts
Due: lint, test, type-check-web, security-audit, docker-web-test
