Repository dh1011/mytasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, test, type-check, security-audit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: npx eslint . --ext .ts,.tsx --max-warnings 0
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: test
        name: Test
        entry: npm run test
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: type-check
        name: Type Check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

      - id: security-audit
        name: Security Audit
        entry: npm audit --audit-level=high
        language: system
        files: package-lock\.json$
        pass_filenames: false

feat(ui): update layout with bottom bar and slide-up menus
  App.tsx
Due: lint, test, type-check

fix(ui): simplify bottom menus and keep bottom bar fixed
  App.tsx
  components/DatabaseConfigScreen.tsx
Due: lint, test, type-check

fix: remove loading state from addTask to prevent UI flicker
  hooks/useTasks.ts
Due: lint, test, type-check

fix(ui): remove destructive style from delete confirmation buttons
  App.tsx
  components/TaskItem.tsx
Due: lint, test, type-check

feat(ui): allow closing expanded task by clicking elsewhere or pressing Enter
  App.tsx
  components/TaskItem.tsx
Due: lint, test, type-check

fix: resolve critical @isaacs/brace-expansion vulnerability
  .pre-commit-config.yaml
  package-lock.json
Due: security-audit

fix: resolve critical @isaacs/brace-expansion vulnerability (#9)
  .pre-commit-config.yaml
  package-lock.json
Due: security-audit

fix: add test:unit and lint scripts to root package.json for CI
  .pre-commit-config.yaml
  package.json
Due: none

fix: add test:unit and lint scripts to root package.json for CI (#10)
  .pre-commit-config.yaml
  package.json
Due: none

fix: add ESLint v9 flat config for monorepo
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  eslint.config.mjs
Due: none

fix: add ESLint v9 flat config for monorepo (#11)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  eslint.config.mjs
Due: none

feat: add managed splash screen and fix build scheme
  mobile/App.tsx
  mobile/app.json
  mobile/package.json
  package-lock.json
Due: lint, test, type-check, security-audit

feat: add managed splash screen and fix build scheme (#12)
  mobile/App.tsx
  mobile/app.json
  mobile/package.json
  package-lock.json
Due: lint, test, type-check, security-audit

fix: prevent white background flash when saving database configuration
  mobile/components/DatabaseConfigScreen.tsx
Due: lint, test, type-check

Revert "fix: prevent white background flash when saving database configuration"
  mobile/components/DatabaseConfigScreen.tsx
Due: lint, test, type-check

fix: prevent white flash when closing settings panel
  mobile/hooks/useTasks.ts
Due: lint, test, type-check

fix: prevent white flash when closing settings panel (#13)
  mobile/hooks/useTasks.ts
Due: lint, test, type-check

docs: add shared API documentation for mobile and web
  docs/api.md
Due: none

feat(web): add responsive web application with dark theme and desktop sidebar
  package.json
  packages/core/src/index.ts
  packages/core/src/services/apiService.ts
  packages/core/src/services/connectionTestApi.ts
  web/.gitignore
  web/README.md
  web/eslint.config.js
  web/index.html
  web/package-lock.json
  web/package.json
  web/public/vite.svg
  web/src/App.css
  web/src/App.tsx
  web/src/components/AddTaskForm.module.css
  web/src/components/AddTaskForm.tsx
  web/src/components/DatabaseConfigPanel.module.css
  web/src/components/DatabaseConfigPanel.tsx
  web/src/components/ReminderModal.module.css
  web/src/components/ReminderModal.tsx
  web/src/components/Sidebar.module.css
  web/src/components/Sidebar.tsx
  web/src/components/TaskItem.module.css
  web/src/components/TaskItem.tsx
  web/src/hooks/useDatabaseConfig.ts
  web/src/hooks/useTasks.ts
  web/src/index.css
  web/src/main.tsx
  web/src/styles/theme.ts
  web/src/vite-env.d.ts
  web/tsconfig.app.json
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Due: lint, test, type-check, security-audit

fix: update package-lock.json to include web workspace dependencies
  package-lock.json
Due: security-audit

fix: clear reminder now persists to database
  mobile/components/TaskItem.tsx
  mobile/types/Task.ts
  packages/core/src/types/Task.ts
Due: lint, test, type-check

fix: clear reminder now persists to database (#17)
  mobile/components/TaskItem.tsx
  mobile/types/Task.ts
  packages/core/src/types/Task.ts
Due: lint, test, type-check

feat(web): add favicon and app icons from mobile assets
  web/index.html
  web/public/favicon-32x32.png
  web/public/favicon.ico
  web/public/favicon.png
  web/public/icon.png
  web/public/vite.svg
Due: none

fix: replace expo-specific root tsconfig with platform-agnostic config
  tsconfig.json
Due: none

fix: replace expo-specific root tsconfig with platform-agnostic config (#19)
  tsconfig.json
Due: none

feat(web): add Docker containerization with automated testing
  .pre-commit-config.yaml
  package.json
  web/.dockerignore
  web/Dockerfile
  web/compose.yml
  web/nginx.conf
  web/test-docker.sh
  web/tests/README.md
  web/tests/smoke-test.sh
Due: none

fix: split type-check into workspace-specific hooks
  .pre-commit-config.yaml
  tsconfig.json
Due: none

feat(web): Add Docker containerization with automated testing (#20)
  .pre-commit-config.yaml
  package.json
  tsconfig.json
  web/.dockerignore
  web/Dockerfile
  web/compose.yml
  web/nginx.conf
  web/test-docker.sh
  web/tests/README.md
  web/tests/smoke-test.sh
Due: none

feat(web): Design Migration (Tailwind, Unified Layout, Logo) & Remove Temp
  package-lock.json
  web/package.json
  web/postcss.config.js
  web/src/App.css
  web/src/App.tsx
  web/src/components/AddTaskForm.module.css
  web/src/components/AddTaskForm.tsx
  web/src/components/DatabaseConfigPanel.module.css
  web/src/components/DatabaseConfigPanel.tsx
  web/src/components/ReminderModal.module.css
  web/src/components/ReminderModal.tsx
  web/src/components/Sidebar.module.css
  web/src/components/Sidebar.tsx
  web/src/components/TaskItem.module.css
  web/src/components/TaskItem.tsx
  web/src/index.css
  web/src/lib/utils.ts
  web/src/styles/theme.ts
  web/tailwind.config.ts
  web/tsconfig.app.json
  web/vite.config.ts
Due: lint, test, type-check, security-audit

fix(docker): Add web service and missing tailwind config
  compose.yml
  web/Dockerfile
Due: none

fix(docker): Convert tailwind config to JS to avoid loading issues
  web/Dockerfile
  web/src/index.css
  web/tailwind.config.js
Due: lint, test

fix(docker): Restore @config for Tailwind, resolve alias and ESM issues
  compose.yml
  web/Dockerfile
  web/build_log.txt
  web/postcss.config.cjs
  web/src/components/DatabaseConfigPanel.tsx
  web/src/components/TaskItem.tsx
  web/src/hooks/useTasks.ts
  web/src/index.css
  web/tailwind.config.cjs
  web/vite.config.ts
Due: lint, test, type-check

fix(docker): Restore @config for Tailwind, resolve alias and ESM issues (#25)
  compose.yml
  web/Dockerfile
  web/build_log.txt
  web/postcss.config.cjs
  web/src/components/DatabaseConfigPanel.tsx
  web/src/components/TaskItem.tsx
  web/src/hooks/useTasks.ts
  web/src/index.css
  web/tailwind.config.cjs
  web/vite.config.ts
Due: lint, test, type-check

fix(docker): Force npm install cache invalidation
  web/package.json
Due: none

feat: auto-focus task input & fix network connection
  mobile/App.tsx
  mobile/app.json
  mobile/components/AddTaskForm.tsx
  mobile/services/databaseConfigService.ts
Due: lint, test, type-check

feat(mobile): remove task count from tabs
  mobile/App.tsx
  packages/core/tsconfig.json
  web/Dockerfile
  web/src/App.tsx
  web/tsconfig.app.json
Due: lint, test, type-check

fix(mobile): remove deprecated shouldShowAlert notification property
  mobile/services/NotificationService.ts
Due: lint, test, type-check
